@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
    margin: 0;
    padding:0;
}

body{
    font-family: 'Dosis', sans-serif;
    background: url("https://i1.faceprep.in/ProGrad/minion-background.png");
    background-size: 100% 100%;
}

section{
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 10px 0;
    display: block;
}

div{
    text-align: center;
}

p, input[type="text"], input[type="number"], textarea, form{
    width: 350px;
    padding: 8px;
}

p, form{
    margin: auto;
}

label{
    font-weight: bold;
}

input, textarea{
    margin:10px 0;
}

input[type="submit"]{
    display: block;
    background-color: #1e90ff;
    color:white;
    margin: auto;
    border: none;
    width: 150px;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
}

input[type="checkbox"]{
    margin-right: 5px;
    margin-left: 5px;
}

